body{
    background-image: url(luca-bravo-background_index_image.jpg);
    width:100%;
    height: auto;
}
h1{
    font-size: 50px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.head_name{
    text-align: center;
    align-items: center;
    align-content: center;
}
