body{
    background-image: url(luca-bravo-background_index_image.jpg);
    width:100%;
    height: auto;
}
h1{
    font-size: large;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.titulo{
            text-align: center;
            align-items: center;
            align-content: center;
        }
.liquidGlass-wrapper {
    position: relative;
    width: 460px;
    height: 100px;
    overflow: hidden;
    transition: all 0.4s ease;
    background: rgba(255, 255, 255, 0.5);
}
.liquidGlass-effect {
    position: absolute;
    inset: 0;
    backdrop-filter: blur(3px);
    filter: url(#glass-distortion);
    overflow: hidden;
}
